@import url('https://fonts.googleapis.com/css?family=Patua+One|Raleway');

:root {
    --c-red: #da4453;
    --c-orange: #fc6e51;
    --c-yellow: #ffc738;
    --c-green: #8cc152;
    --c-blue: #3bafda;
    --c-purple: #967adc;
    --c-pink: #ec87c0;
    --c-black: #333333;
    --c-white: #efefef;
}

html, body, .grid {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;

    font-family: 'Raleway', sans-serif;
}

.row {
    width: 100%;
    height: 50%;
}

.box {
    width: 33.33333333%;
    float: left;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;

    display:flex;
    justify-content:center;
    align-items:center;
}

.box a {
    font-size: 2rem;
    font-weight: bold;
    color: var(--c-white);
    text-decoration: none;

    height: 100%;
    width: 100%;

    display:flex;
    justify-content:center;
    align-items:center;
}

.box h2 {
    width: 100%;
    height: 100%;
}

.big-title {
    position: absolute;
    left: 0; 
    right: 0;
    top: 0; 
    bottom: 0;
    margin: auto;
    text-align: center;
    width: 500px;
    height: 100px;

    color: var(--c-white);
    font-size: 5rem;
    font-family: 'Patua One', cursive;
    text-shadow: 0px 0px 50px var(--c-white);
}

.box1 {
    background-color: var(--c-red);
}

.box2 {
    background-color: var(--c-orange);
}

.box3 {
    background-color: var(--c-yellow);
}

.box4 {
    background-color: var(--c-green);
}

.box5 {
    background-color: var(--c-blue);
}

.box6 {
    background-color: var(--c-purple);
}

@media screen and (max-width: 600px)
{
    .big-title {
        position: static;
        font-size: 2.5rem;
        width: auto;
        height: auto;
        background: black;
    }

    .box {
        width: 100%;
    }
}